<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zpw.stockanalyze">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.StockAnalyze"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".mvvm.menu.MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvvm.dailyquotes.DailyQuotesActivity"/>
        <activity android:name=".mvvm.anchor.AnchorActivity"/>
        <activity android:name=".mvvm.futures.FuturesActivity"/>
        <activity android:name=".mvvm.industry.IndustryActivity"/>
        <activity android:name=".mvvm.performance.PerformanceActivity"/>
        <activity android:name=".mvvm.search.SearchActivity"/>
    </application>

</manifest>